{:source-paths ["src" "test"]
 :dependencies [[camel-snake-kebab "0.4.2"]]
 :builds {:karma {:target :karma
                  :output-to "target/ci.js"
                  :ns-regex "-test$"}
          :test     {:target    :browser-test
                     :test-dir  "public_test"
                     :ns-regexp "-test$"
                     :devtools  {:http-port          8021
                                 :http-root          "public_test"}}}}
